

body {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 100%);  
}
/*=============================
Photo Overlay Transition
==============================*/
.photo-overlay{
	position: absolute;
	text-align: center;
    color: rgb(49, 143, 160)
}
.photo-overlay {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
}
.photo-container:hover .photo-overlay {
    opacity: 1;
}


h1 {
    color:navy ;
    margin-left: 20px
}
/*to remove dots from list*/
ul.ch {list-style: none !important;}
ol {list-style: none !important;
text-align: center;}


.flex-container {display: flex; 
    flex-wrap: wrap;
    padding: 5px;
}
.introduction {
    margin: 15 px;
    padding: 25px;
}
.content{
    margin: 15px; 
    padding: 25px;
}
.Episode00{
    margin: 15px;
    padding 25px;
}
results {
    margin: 25px;
    padding 35px;
    text-align:left
}



.imgbook{
    max-height: 400px;
    padding-bottom: 5px;

}
.imgProject{
    max-width: 100%
}


/*media queries */
@media (min-width: 768px) and (max-width: 1200px) {
    body{
    color: rgb(255, 0, 0);
    }
 .col-md{
     padding: 10px;
     position: relative;
     text-align: center;
     color: black;
 }   
}

p { text-align: center; }
h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}

/*---------------
FOOTER
----------------*/


footer {
    display:flex;
    flex-direction: column; 
    background-color:rgb(76, 0, 255)
    color; violet
    padding: 60px 0;
    text-align: center;
    align-items: center;
}


footer ul{
display: flex;
margin-bottom: 25px;
font-size: 16px;
list-style-type: none
}

footer ul li{
    margin: 0 8px;
}
footer ul li: first-child{
    margin-left: 0;
}
footer ul li: last-child{
    margin-right: 0;
}
footer p{
    text-transform: uppercase;
    font-size: 14px
    color: rgba (255,255,255, .6);
}
 
@media screen and (max-width: 992px) {
    .row{
      width: 50%;
    }
@media screen and (max-width: 600px) {
    .row {
      width: 100%;
