body {
   
    background-color: rgb(27, 172, 87);
}
h1 {
    color:navy ;
    margin-left: 20px
}

<!--how to remove the bullet points in ul-->
ul.ch {list-style-type: none;}


.flex-container {display: flex;
}
.flex-child {
    flex: 1;
    border: 3px solid navy;
}
.flex-child :first child{
    margin-right: 20px
}