body {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 100%);  
}
h1 {
    color:navy ;
    margin-left: 20px
}
/*to remove dots from list*/
ul.ch {list-style: none !important;}

.flex-container {display: flex;
}
.flex-child {
    flex: 1;
    border: 3px solid navy;
}
.flex-child :first child{
    margin-right: 20px
}
.imgbook{
    max-height: 450px;
    padding-bottom: 5px;

}
/*media queries */
@media (min-width: 768px) and (max-width: 1200px) {
    body{
    color: orange;
    }
 .col-md{
     padding: 10px;
 }   
}
    